@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-head:rgba(235, 102, 43, 1)
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}
/* 2. Remove default margin */
* {
    margin: 0;
   
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}
body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;

}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    margin-top: 1.875rem;
    padding: 1.0625rem;
}
/* 7. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
/*
  10. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}
.logo{
    margin-right: 21.25rem;
}
.navbar{
    width: 100%;
  
    top: 1rem;
}
.btn-outline-success{
    border-radius: 12px;
    background: var(--bs-head);
    overflow-x: hidden;
}

.log{
    width: 8.6rem;
    height: 3.7rem;
    top: 0.375rem;
    left: 97rem;
    border-radius: 12px;
    margin-right: 1.25rem;
    color: white;
    background-color: rgba(235, 102, 43, 1);
}
.search{
     width: 8.6rem;
     height: 3.7rem;
     top: 0.625rem;
     left: 107.25rem;
     color: white;
     background-color: rgba(235, 102, 43, 1);
     -webkit-border-radius: 12px;
     -moz-border-radius: 12px;
     -ms-border-radius: 12px;
     -o-border-radius: 12px;
     border-radius: 12px;
}
   .section {
        
            position: relative;
            width: 100%;
   }
        .section img {
            
            width: 100%;
            height: auto;
            display: block;
        }

        .section div {
             position: absolute;
             top: 50%;
             left: 50%;
             text-align: center;
             color: white;
             transform: translate(-50%, -50%);
             -webkit-transform: translate(-50%, -50%);
             -moz-transform: translate(-50%, -50%);
             -ms-transform: translate(-50%, -50%);
             -o-transform: translate(-50%, -50%);
}

        .text1 {
            font-size: 2rem;
            font-weight: bold;
        }
        @media (max-width:768px) {
            .text1{
                font-size: 1.0rem;
               
            }
            
        }
         @media (max-width:350px) {
            .text1{
                font-size: .5rem;
               
            }
            
        }

        .text2 {
            font-size: 1rem;
        }
         @media (max-width:768px) {
            body{
                font-size: .5rem;
               
            }
            
        }
         @media (max-width:350px) {
            body{
                font-size: .25rem;
               
            }
            
        }
.container-tourz{
   
    
    padding-left: 5rem;
    
}
.col p{
    font-size: 1rem; 
}
.container-Trending{ 
   margin: 5rem;

}
.col_trending{
    position: relative;
}
.p_trending{
    position: absolute;
    top:50%;
    left: 35%;
    color: white;

}
.title{
    display: flex;
    justify-content: space-between;

}
.title p{
    font-size: 14px;
    padding-right: .5rem;
}

.container_Trending{
    padding: 5rem;
}
h2{
    padding: 1rem 1rem;
}
.container_popular{
    padding: 5rem;
    width: 100%;
    height: 540px;
    background: rgba(235, 102, 43, 0.095);
    align-items: center;

}
/* featured*/

.Featured{
     margin: 0 20px;
     border: 1px solid #ebe9e9;
     border-radius: 15px;
}
.last{
  
     border-top: 1px solid #ebe9e9;
     padding-top: 15px;
    
   
}
/* Travel*/
.container_travel{
    position: relative;
    height: 500px;
}
.title_travel{
    position: absolute;
    top: 50%;
    left: 25%;
    width: 440px;
    color: white;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.title_travel p{
    color: #fff;
}
.bt_travel{
    color: rgba(235,102,43,1);
    background-color: rgba(255, 255, 255, 1);
    border: none;
    margin-top: 20px;
    padding: 20px 30px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
}
.card1_travel{
    position: absolute;
    top: 18%;
    left: 50%;
    width: 185px;
    height: 160px;
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
    
}
.img_travel {
width: 40px;
height: 40px;
top: 40p;
left: 110px;
padding: 0;
margin-top: 30px;
margin-bottom: 10px;

}

.card1_travel h4 , .card2_travel h4{

font-family: Inter;
font-weight: 700;
font-size: 30px;
font-family: Inter;
color:rgba(235, 102, 43, 1);
}
.card1_travel p ,.card2_travel p{
font-weight: 400;
font-size: 10.0px;
margin-bottom: 25px;
color: #050542;

}
.card2_travel{
     position: absolute;
    top: 53%;
    left: 50%;
    width: 185px;
    height: 160px;
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
}
    /*customer Review*/

    .container_customer{
        background-color: rgb(243, 240, 245);
        border: 2px solid blue;
        
;
    }
    .container_customer h2{
    padding-top: 100px;
    } 
    .container_customer p.fw-bold {
        width: 850px;
        font-size:19.5px;
        padding-top: 100px;
    }
  /*
    .customer_img img:nth-child(1){
        margin-top: -10px;
        margin: 10px;;
        border: 2px solid red;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
    }    
        */

.customer_js{
    border: 2px solid red;
     border-radius: 50%;
}
    
/*Travel articles*/
.container_articles{
   
   
    width: 100%;
    height: 750px;
    background:  rgba(245, 245, 245, 1);

   padding-top: 5rem;
}
.container_articles .col{
    position: relative;

}
.trips{
     position: absolute;
     top: 15%;
     left: 10%;
     
     border-radius: 15px;
     font-size: 13.5px;
}
.articles .col p{
    font-size: 13.5px;
    padding: 0 2rem;
    

}
.articles .row{
    padding-left: 5rem;
 
    height: 530px;

}
.articles .col{
    height: 400PX;
  
}
.articles .col img{
    width: 100%;
   

/*container_trusted*/
.container_trusted{
    background-color: #050542;
    height: 440px;
}
.img_trusted{
    background-color: red;
    margin-left: 20rem;
    margin-right: 20rem;
}






















/*
.explore{
    width: 635.8599853515625;
height: 60;
top: 58.13px;
left: 15px;
font-family: Inter;
font-weight: 700;
font-size: 40px;
line-height: 60px;
letter-spacing: 0%;
vertical-align: middle;

}

*/





/*
.explore{
    width: 635.8599853515625;
height: 60;
top: 58.13px;
left: 15px;
font-family: Inter;
font-weight: 700;
font-size: 40px;
line-height: 60px;
letter-spacing: 0%;
vertical-align: middle;

}

*/
